[submodule "files"]
	path = files
	url = https://github.com/OSVTAC/site-files.git
[submodule "recommendations"]
	path = recommendations
	url = https://github.com/OSVTAC/project-recommendations-site.git
[submodule "project"]
	path = project
	url = https://github.com/OSVTAC/osv-project-site.git
