---
---

@import "{{ site.theme }}";

// Fix issue #17, which causes the text to jitter when hovering over a link:
// https://github.com/pages-themes/slate/issues/17
a:hover, a:focus {
  font-weight:normal;
}

#project_image {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

#header_wrap {
  background: #E5E5E5;
}

#header_wrap a {
  color: black;
}

#project_title {
  color: black;
  text-shadow: none;
}

#project_tagline {
  color: black;
  text-shadow: none;
}

#menu_bar {
  font-weight: bold;
}

#main_content_wrap {
  background: white;
  border-top: none;
}

th {
  background: #d3edfd;
  color: black;
}

.headered::first-line {
  font-weight: bold;
}

#meeting_header_right {
  float: right;
  text-align: right;
}

#meeting_header_main {
  text-align: center;
}
