---
---

@import "{{ site.theme }}";

#header_wrap {
  background: #E5E5E5;
}

#header_wrap a {
  color: black;
}

#project_title {
  color: black;
  text-shadow: none;
}

#project_tagline {
  color: black;
  text-shadow: none;
}

#main_content_wrap {
  background: white;
  border-top: none;
}

th {
  background: #d3edfd;
  color: black;
}

.headered::first-line {
  font-weight: bold;
}

// TODO: DRY this up with the above.
ol li::first-line {
  font-weight: bold;
}

#meeting_header_right {
  float: right;
  text-align: right;
}

#meeting_header_main {
  text-align: center;
}
